
.box {
    display: inline-block;
    position: relative;
    width: 220px;
    background-color: red;
    color: black;
}
#second_child {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-bottom: 15px;
}
#b {
    background-color: orange;
}
#v {
    background-color: green;
}
#x {
    background-color: #70d2f4;
}

#t {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-bottom: 15px;
}

#n {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-bottom: 15px;
}

#o {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-bottom: 15px;
}


