body {
    position: relative;
    height: 2000px;
    padding-top: 80px;
}


.box {
    position: relative;
    /*display: block;*/ /* Блочный элемент */
    /*display: inline-block;*/ /* Строчно-блочный элемент */
    /*display: inline;*/ /* Строчный элемент */
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blue;
    /*color: #ffffff;*/ /* HEX-формат */
    color: rgb(255, 255, 255); /* RGB-формат */

}

#third {
    /*position: static;*/ /* Статичное позиционирование(по умолчанию) */
    /*position: relative; !* относительное позиционирование элемента *!*/
    position: absolute;
    top: 50%;  /* Отступ сверху */
    left: 50%; /* Отступ слева */
    /*right: 20px;*/ /* Отступ справа */
    /*bottom: 20px;*/ /* Отступ снизу */
    background-color: orange;
}


#second_child {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: lightgreen;
}

.fixed {
    position: fixed; /* Позиционирование относительно окна */
    top: 0;
    left: 0;
    width: 100%;
    height:  50px;
    background: darkblue;
    padding: 10px;
    color: white;
    margin-top: 0;
}